/.metadata
/*/.scala_dependencies
/*/bin
/*/bin_test
/*/generated
/cnf/cache
/cnf/repo/index-nim.xml
/cnf/ariesrepo/index-nim.xml
/cnf/ariesrepo/aries-ext.xml
/gateway.build/repository
/gateway.repos
/var
